<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>796506010428-ev19k214cbkjp9q2lr25kmr60chascbg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796506010428-ev19k214cbkjp9q2lr25kmr60chascbg</string>
	<key>API_KEY</key>
	<string>AIzaSyBOyy992lAdlydKN7gki1XV6CLFgAI5-9o</string>
	<key>GCM_SENDER_ID</key>
	<string>796506010428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.gvsu.cis.HW3-Solution</string>
	<key>PROJECT_ID</key>
	<string>cis357-homework8</string>
	<key>STORAGE_BUCKET</key>
	<string>cis357-homework8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796506010428:ios:9b6531063a2b34effbe439</string>
	<key>DATABASE_URL</key>
	<string>https://cis357-homework8.firebaseio.com</string>
</dict>
</plist>